body{
    text-align: center;
}

.btn{
    margin-top: 50px;
    font-weight: 400;
    color: white;
    background-color: blue;
    text-align: center;
    vertical-align: center;
    border: 1px solid darkblue;
    padding: 5px;
}

.btn:hover{
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
}

.show{
    margin-top: 50px;
    padding: 20px 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}